.container-fluid {
    background-color: #F6F4E6;
    
}

.judul h2{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 5px;
}

hr {
    width: 500px;
    border-top: 4px solid #FDDB3A;
    margin-top: 0;
    margin-bottom: 20px;
}

.accordion {
    padding-bottom: 100%;
}

.card {
    margin-bottom: 20px;
    width: auto;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
}

.card-body {
    font-size: 18px;
    background-color:#52575d;
    color: white;
}

.head {
    position: relative;
    background-color:#52575d;
}

.accordion-title {
    font-size: 25px;
    color: #2ddf2d;
    cursor: pointer;

}

.switch {
    cursor: pointer;
    position: absolute;
    font-size: 32px !important;
    color: #FDDB3A;
    right: 30px;
    top: 16px;
}

.switch:hover{
    opacity: 0.5;
}

#down {
    right: 65px !important;
}

ul {
    list-style: none;
}

#kegiatan::before {
    content: "\01F92A  ";
}

#lagu::before {
    content: "\01F3B5  ";
}

#prestasi::before {
    content: "\01F3C6  ";
}

#pengalaman::before {
    content: "\01F921  ";
}

