.container-fluid {
    background-color: #F6F4E6;
    padding-bottom: 100%;
    
}

.judul h2{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 5px;
}

hr {
    width: 375px;
    border-top: 4px solid #FDDB3A;
    margin-top: 0;
    margin-bottom: 20px;
}

.input-group {
    margin: auto;
    padding-bottom: 20px;
}

#header {
    font-size: 18px;
    text-align: center;
}

#buku {
    text-align: center;
}

table.table-bordered > thead > tr > th{
    border: 1px solid black;
    text-align: center;
}

table.table-bordered > tbody > tr > td{
    border: 1px solid black;
}
