{% extends 'base.html' %}
{% load static %}

{% block title %}Login Page{% endblock title %}

{% block additional_css %}
<link rel="stylesheet" href="{% static 'story9/style_story9.css' %}"> 
{% endblock additional_css %}

{% block additional_script %}
{% endblock additional_script %}

{% block content %}
<div class="container-fluid">
    <div class="login">
        <h2 id="title">Login Here</h2>
        <form method="POST">
            {% csrf_token %}
            <div class="row mb-3 inputan">
                <label for="inputUsername" class="col-sm-2 col-form-label">Username</label>
                <div class="col-sm-6">
                  <input type="text" class="form-control" name="username" id="inputUsername">
                </div>
            </div>
            <div class="row mb-3 inputan">
                <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-6">
                  <input type="password" class="form-control" name="password" id="inputPassword">
                </div>
            </div>
            {{ form.errors }}
            <div class="tombol">
                <button type="submit" name="login" class="btn btn-success">Login</button>
                <a href="{% url 'story9:signup' %}" class="btn btn-warning">Sign Up</a>
            </div>
        </form>
    </div>
</div>
{% endblock content %}