{% extends 'base.html' %}
{% load static %}

{% block title %}Logout Page{% endblock title %}

{% block additional_css %}
<link rel="stylesheet" href="{% static 'story9/style_story9.css' %}"> 
{% endblock additional_css %}

{% block additional_script %}
{% endblock additional_script %}

{% block content %}
<div class="container-fluid">
    <div class="logout">
        <div class="card text-center">
            <div class="card-header">
              <h3>Logout</h3>
            </div>
            <div class="card-body">
              <h5 class="card-title">{{ user.get_username }} yakin ingin logout? 😔</h5>
              <form method="POST">
                {% csrf_token %}
                <input type="submit" name="logout" value="Logout" class="btn btn-danger tombol">
            </form>
            </div>
          </div>
        </div>
    </div>
    
</div>
{% endblock content %}