{% extends 'base.html' %}
{% load static %}

{% block title %}Signup Page{% endblock title %}

{% block additional_css %}
<link rel="stylesheet" href="{% static 'story9/style_story9.css' %}"> 
{% endblock additional_css %}

{% block additional_script %}
{% endblock additional_script %}

{% block content %}
<div class="container-fluid">
    <div class="signup">
        <h2 id="title">Sign Up Here</h2>
        <form method="POST">
            {% csrf_token %}
            <div class="row mb-3 inputan">
                <label for="inputUsername" class="col-sm-2 col-form-label">Username</label>
                <div class="col-sm-10">
                  {{ form.username }}
                </div>
            </div>
            <div class="row mb-3 inputan">
                <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-10">
                  {{ form.password1 }}
                </div>
            </div>
            <div class="row mb-3 inputan">
                <label for="inputPassword" class="col-sm-2 col-form-label">Confirm Password</label>
                <div class="col-sm-10">
                  {{ form.password2 }}
                </div>
            </div>
            {{ form.errors }}
            <div class="tombol">
                <button type="submit" name="signup" class="btn btn-success">Sign Up</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}