{% extends 'base.html' %}
{% load static %}

{% block title %}Home Page{% endblock title %}

{% block additional_css %}
<link rel="stylesheet" href="{% static 'story9/style_story9.css' %}"> 
{% endblock additional_css %}

{% block additional_script %}
{% endblock additional_script %}

{% block content %}
<div class="container-fluid">
    <div class="home">
        <h1>Welcome to Lemon's Website</h1>
        <hr>
        {% if user.is_authenticated %}
        <h3>Halo, {{user.get_username}}! 😊</h3>
        {% else %}
        <h3>Belum Login?</h3>
        <a class="btn btn-outline-dark mt-2" href="{% url 'story9:login' %}">Login</a>
        {% endif %}
    </div>
</div>
{% endblock content %}