{% extends 'base.html' %}
{% load static %}

{% block additional_css %}
<link rel="stylesheet" href="{% static 'story7/style_story7.css' %}"> 
{% endblock additional_css %}

{% block additional_script %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="{% static 'story7/styling7.js' %}"></script>
{% endblock additional_script %}

{% block content %}
<div class="container-fluid">
  <div class="judul">
    <h2>Click Each Card To Get To Know Me 🍋</h2>
    <hr>
  </div>
  <div class="accordion">
    <div class="card">
      <div class="card-header head">
          <h3 class="accordion-title">Lemon's Daily Activities</h3>
          <i class="fa fa-arrow-circle-up switch"  id="up" data-sort="up"></i>
          <i class="fa fa-arrow-circle-down switch" id="down" data-sort="down"></i>
      </div>
      <div class="card-body" >
        <ul class>
          <li id="kegiatan">Kuliah</li>
          <li id="kegiatan">Begadang Nugas</li>
          <li id="kegiatan">Overthinking Semester 3 Bisa Lulus Ngga Ya?</li>
        </ul>
      </div>
    </div>
  
    <div class="card">
      <div class="card-header head">
          <h3 class="accordion-title">Lemon's Experiences</h3>
          <i class="fa fa-arrow-circle-up switch"  id="up" data-sort="up"></i>
          <i class="fa fa-arrow-circle-down switch" id="down" data-sort="down"></i>
      </div>
      <div class="card-body" >
        <ul class>
          <li id="pengalaman">BETIS 2019 Staff Akademis</li>
          <li id="pengalaman">Udah ngga ada lagi anaknya emang kurang aktif bund,, mmf</li>
        </ul>
      </div>
    </div>
  
    <div class="card">
      <div class="card-header head">
          <h3 class="accordion-title">Lemon's Achievements</h3>
          <i class="fa fa-arrow-circle-up switch"  id="up" data-sort="up"></i>
          <i class="fa fa-arrow-circle-down switch" id="down" data-sort="down"></i>
      </div>
      <div class="card-body" >
        <ul class>
          <li id="prestasi">Terakhir juara LCC PAI tingkat kota/kabupaten pas SMP itu juga</li>
          <li id="prestasi">Mandi sehari sekali selama PJJ</li>
          <li id="prestasi">Tahan berbulan-bulan ga keluar rumah</li>
        </ul>
      </div>
    </div>
  
    <div class="card">
      <div class="card-header head">
          <h3 class="accordion-title">Songs Lemon Listen To These Days</h3>
          <i class="fa fa-arrow-circle-up switch"  id="up" data-sort="up"></i>
          <i class="fa fa-arrow-circle-down switch" id="down" data-sort="down"></i>
      </div>
      <div class="card-body" >
        <ul class>
          <li id="lagu">Come Inside Of My Heart - IV Of Spades</li>
          <li id="lagu">Good Day - Surfaces</li>
          <li id="lagu">Pluto Projector - Rex Orange County</li>
          <li id="lagu">Don't Wanna Fall in Love Again - Yayyoung</li>
        </ul>
      </div>
    </div>
  </div>
</div>


{% endblock content %}
