{% extends 'base.html' %}
{% load static %}

{% block additional_css %}
<link rel="stylesheet" href="{% static 'story8/style_story8.css' %}"> 
{% endblock additional_css %}

{% block additional_script %}
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
<script src="{% static 'story8/styling8.js' %}"></script>
{% endblock additional_script %}

{% block content %}
<div class="container-fluid">
    <div class="judul">
        <h2>Cari Buku Disini</h2>
        <hr>
    </div>

    <div class="input-group mb-3 col-sm-6">
        <input type="text" class="form-control" id="inputan" placeholder="Ketik buku yang ingin dicari" aria-label="Ketik buku yang ingin dicari" aria-describedby="button-addon2">
        <div class="input-group-append">
          <button class="btn btn-outline-success" type="button" id="search">Cari</button>
        </div>
    </div>
    
    <div class="tabel">
        <table class="table table-hover table-bordered">
            <thead class="thead-dark" id="header">
              <tr>
                <th scope="col">No.</th>
                <th scope="col">Judul</th>
                <th scope="col">Penulis</th>
                <th scope="col">Penerbit</th>
                <th scope="col">Sampul Buku</th>
              </tr>
            </thead>

            <tbody id="buku">
                <!-- {% for d in data %}
                    {% for buku in d.items %}
                        <tr>
                            <th scope="row">{{forloop.counter}}</th>
                            <td>{{buku.volumeInfo.title}}</td>
                            <td>{{buku.volumeInfo.authors}}</td>
                            <td>{{buku.volumeInfo.publisher}}</td>
                        </tr>
                    {% endfor %}
                {% endfor %} -->
            </tbody>
        </table>
    </div>

</div>


{% endblock content %}