.container-fluid {
    background-color: #F6F4E6;
    padding-bottom: 100%;
}

hr {
    width: 500px;
    border-top: 4px solid #FDDB3A;
    margin-top: 0;
    margin-bottom: 20px;
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    text-align: center
}

#title{
    padding-top: 15px;
    padding-bottom: 20px;
    text-align: center;
}

.inputan {
    justify-content: center;
}

.tombol {
    margin-top: 10px;
    text-align: center;
    color: white !important;
}

.logout {
    padding-top: 13%;
    margin-left: 30px;
    margin-right: 30px;
    justify-content: center;
    text-align: center
}

.col-form-label {
    font-weight: 500;
}

.card {
    background-color:#52575d;
    color: white;
}

.card-header {
    color: #FDDB3A;
}

